POSTGRES_USER=movie_platform
POSTGRES_PASSWORD=change-me-postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

USER_SERVICE_PORT=8081
USER_SERVICE_GRPC_PORT=9091
MOVIE_SERVICE_PORT=8080
RECOMMENDATION_SERVICE_PORT=8083
RECOMMENDATION_SERVICE_GRPC_PORT=9093
TMDB_ACCESS_TOKEN=change-me-tmdb-access-token
